# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
staticfiles/
media/

# VS Code / IDE
.vscode/
.idea/

# Frontend
node_modules/

# OS
.DS_Store
Thumbs.db

# Cursor
.cursor/

# Environment variables (secrets)
.env
hiddensettings.env

# Documents
docs/
